.Root {
  all: unset;
  display: inline-flex;
  align-items: center;
  position: relative;
  background-color: var(--background-secondary); /* */
  border-radius: var(--radius-8); /* */
  padding: 4px;
  width: 96px;
  height: 40px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* This acts as your "Thumb" */
.Root::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(50% - 4px);
  height: calc(100% - 8px);
  background-color: var(--background-primary); /* */
  border-radius: var(--radius-6); /* */
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
  z-index: 0;
}

/* Move the Thumb based on the theme state */
:root[data-theme='dark'] .Root::before {
  transform: translateX(100%);
}

.Item {
  all: unset;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1; /* Stay above the sliding Thumb */
  height: 100%;
  border-radius: var(--radius-4); /* */
  transition: color 200ms ease;
}

.Item:focus-visible {
  box-shadow: 0 0 0 2px var(--neutral-light-900); /* */
}

.Icon {
  color: var(--neutral-light-500); /* */
  transition: color 200ms ease;
}

/* Highlight icon when its state is "on" */
.Item[data-state='on'] .Icon {
  color: var(--icon-primary); /* */
}

.Icon path {
  stroke: currentColor;
}